@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 65px;
    background-color: #201E43;
    font-family: "Roboto", sans-serif;
    position: sticky;
    top: 0;
    z-index: 20;

    & img {
        cursor: pointer;
        width: 170px;
        height: 65px;
    }

    &__logo {
        display: flex;
        width: 175px;
        height: 65px;
    }

    &__logoresponsive {
        display: none;
    }

    &__ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
        width: 100%;
        padding: 10px;
        margin: 0;
        
        &_linkpokemons, &_linksfull {
            padding: 10px;
            border: 2px solid transparent;
            font-size: 16px;
            color: #FFFFFF;
            text-decoration: none;
            box-sizing: border-box;
        }

        &_linksfull:hover, &_linkpokemons:hover {
            border-radius: 20px;
            border: 2px solid #FFFFFF;
        }
    }

   

    @media screen and (max-width: 990px) {
        
        &__ul {
            justify-content: space-between;
        }

        &__ul_linksfull {
            display: none;
        }
    }

    @media screen and (max-width: 600px) {
        &__logo  {
            display: none;
        }

        &__logoresponsive {
            display: flex;
            width: 60px;
            height: 60px;
        }
    }

    @media screen and (max-width: 600px) {
        &__ul {
            gap: 10px;
        }
    }
}




 
