.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: relative;


    &__tooltip {
        width: fit-content;
        padding: 10px;
        border-radius: 5px;
        background-color: #201E43;
        font-size: 12px;
        font-weight: 400;
        color: #EEEEEE;
        text-align: center;
        position: absolute;
        transition: all 0.3s ease;
        opacity: 0;


        &_open {
            transform: translateY(40px);
            opacity: 1;
        }
    }
}