.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;

    & h2 {
        font-size: 48px;
        font-weight: bold;
        color: #201E43;
    }
}